[user]
	name = David Hughes
	email = d@vidhughes.com 
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green

[core]
	editor = /usr/bin/vim

[alias]
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %C(bold white)%s%Creset %Cgreen(%cr) %C(blue)@%an%Creset' --abbrev-commit --date=relative

