[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule ".solarized/tmux-colors-solarized"]
	path = .solarized/tmux-colors-solarized
	url = git://github.com/seebi/tmux-colors-solarized
[submodule ".solarized/gnome-terminal-colors-solarized"]
	path = .solarized/gnome-terminal-colors-solarized
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
