snippet sg "SELECT with grouping/ordering"
SELECT
	${0:fields}
FROM ${1:table}
WHERE 1=1
  AND ${2:cond}
GROUP BY 1
ORDER BY 1
;
endsnippet

snippet sqlx "SELECT with grouping/ordering"
Testing sqlx snippet
endsnippet
